# Excercises for Lecture 2

Your Name: Vishwa Murugappan 
Your UID: u1089366  
Your E-Mail: u1089366@umail.utah.edu

## Exercise 1: Data types and operations
Play around with data types and operations. Try the following things:

1. Define two variables and assign an integer to the first and a float to the second. Define a new variable and assign the sum of the previous two variables. What's the data type of the third variable?
2. Reassign a variable with a different data type, e.g., take one of your numerical variables and assign a string to it. What's the new data type?
3. See what happens if you try to add a string to a string.
4. See what happens if you add a string to a float or an integer.

In [7]:
# it turns into a float
int_var= 5
float_var= 4.5
z= int_var + float_var
print("The third variable's type is:", str(type(z)))

# It turns into a string
int_var= "5"
print("The reassigned variable's type is:", str(type(int_var)))

# This prints properly
new_str= 'He' + 'llo'
print(new_str)

# This is an eror
error_combination= new_str + float_var
print(error_combination)

The third variable's type is: <class 'float'>
The reassigned variable's type is: <class 'str'>
Hello

TypeError: can only concatenate str (not "float") to str

## Exercise 2: Running Programs

 * Create a new file python file and use the simple function as a template. Modify the code to add two numbers instead of doubling a single number.
 * Can you guess what would happen if you change the indentation? Try it out.
 * Try what happens if you print `a` at the very end of the program. Can you explain what's going on?
 
If you want to submit this activity, paste the content of your python file here:

In [30]:
# This is the function
def new_func(a,b):
    return a + b

# Changing the indentation is fine as long as you are consistent with it
def new_func(n1,n2):
            x=  n1 + n2

print("The result of adding 5 and 4 is:", new_func(4,5))

# This will give an error as a is only within the scope of the function
a

The result of adding 5 and 4 is: None

NameError: name 'a' is not defined

## Exercise 3: Creating Cells, Executing Code

1. Create a new code cell below where you define variables containing your name, your age in years, and your major.
2. Create another cell that uses these variables and prints a concatenated string stating your name, major, and your age in years, months, and days (assuming today is your birthday). The output should look like that:

```
Name: Science Cat, Major: Computer Science, Age: 94 years, or 1128 months, or 34310 days. 
```

In [17]:
name= 'Vishwa'
age_yr= 16
age_mnth= 16 *12
age_day= 16 * 12 * 365
major= 'Undecided'

In [20]:
print("Name: " + name + ", Major: " + major + ", Age: " + str(age) + " years, or", str(age_mnth) + " months, or " + str(age_day) + " days.")

Name: Vishwa, Major: Undecided, Age: 16 years, or 192 months, or 70080 days.

## Exercise 4: Functions
Write a function that 
 * takes two numerical variables
 * multiplies them with each other
 * divides them by a numerical variable defined in the scope outside the function
 * and returns the result. 
 
Print the result of the function for three different sets of input variables.

In [10]:
n = 5
def operations(x,y):
    multiply= x * y
    divide= multiply / n
    return divide

print("Result 1:",operations(5,5))
print("Result 2:",operations(4,3))
print("Result 3:",operations(22,5))

Result 1: 5.0
Result 2: 2.4
Result 3: 22.0