# Lecture 5: Exercise Solutions

## Exercise 2: Sets

Write a function that finds the overlap of two sets and prints them.
Initialize two sets, e.g., with values {13, 25, 37, 45, 13} and {14, 25, 38, 8, 45} and call this function with them.

In [1]:
set1= {13, 25, 37, 45, 13}
set2= {14, 25, 38, 8, 45}

def intersection(set1, set2):
    list1 = []
    list2 = []
    return_list = []
    
    for value1 in set1:
        list1.append(value1)
    for value2 in set2:
        list2.append(value2)
    
    for value1 in list1:
        for value2 in list2:
            if value1 == value2:
                return_list.append(value1)
    return return_list


intersection(set1,set2)

[45, 25]

## Exercise 3: Dictionaries

 * Create a dictionary with two-letter codes of two US states and the full names, e.g., UT: Utah, NY: New York
 * After initially creating the dictionary, add two more states to the dictionary.
 * Create a second dictionary that maps the state codes to an array ofities in that state, e.g., UT: [Salt Lake City, Ogden, Provo, St.George]. 
 * Write a function that takes a state code and prints the full name of the state and lists the cities in that state.

In [2]:
states = dict(UT = "Utah", NY = "New York")

states['WY'] = "Wyoming"
states['VA'] = "Virginia"

states_cities = dict(UT = ["SLC, Ogden. Provo, St. George"], NY = ["NYC", "Albany", "Buffalo"], WY = ["Cheyenne", "Cody", "Jackson"], VA = ["Richmond", "Williamsburg", "Alexandria"])


def state_info(abbreviation):
    state_name= states[abbreviation]
    state_cities= states_cities[abbreviation]
    print("The full name of the state that you want is:", state_name, "; some cities this state has are in the following list: ", state_cities)

# Example:
state_info('VA')

The full name of the state that you want is: Virginia ; some cities this state has are in the following list:  ['Richmond', 'Williamsburg', 'Alexandria']

## Exercise 4: Objects

Create a class `Pet` with members `name, pronoun, animal,` and `pet_response`. 

Add a method `pet()` which prints a response that is composed of the members, like that: 

`Layla is a cat. If you pet her, Layla purrs.`  
`Scout is a dog. If you pet her, Scout wags her tail.`

In [3]:
class Pet:
    def __init__(self, name, pronoun, animal, pet_response):
        self.name = name
        self.pronoun = pronoun
        self.animal = animal
        self.pet_response = pet_response
    def pet(self):
        print(self.name + " is a " + self.animal + ". If you pet her, " + self.name + " " + self.pet_response + ".")

Here are some example calls:

In [4]:
layla = Pet("Layla", "her", "cat", "purrs")
scout = Pet("Scout", "her", "dog", "wags her tail")

layla.pet()
scout.pet()

Layla is a cat. If you pet her, Layla purrs.
Scout is a dog. If you pet her, Scout wags her tail.

## Exercise 6: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs USD 31,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 8100000
 ```

### The instructions are wrong about the Steelers (for proof you can see that, if each ring is 31,000 and the Steelers final value is $8100000, the division of these numbers would result in a decimal number of rings given to Steelers players, which is wrong. The real value of all of the Steelers rings is $8370000, as shown in my code.

In [5]:
teams = ["New England Patriots",
         "Pittsburgh Steelers",
         "Dallas Cowboys",
         "San Francisco 49ers",
         "Green Bay Packers",
         "New York Giants",
         "Denver Broncos",
         "Oakland/Los Angeles Raiders",
         "Washington Redskins",
         "Miami Dolphins",
         "Baltimore/Indianapolis Colts",
         "Baltimore Ravens"]
wins = [6,6,5,5,4,4,3,3,3,2,2,2]

In [6]:
import pandas as pd

In [7]:
def toDollars(amount):
    return "$ " + str(amount)

toDollars(15)

'$ 15'

In [8]:
nfl= pd.Series(wins, index= teams)
nfl= nfl.sort_index(ascending=True)
print("Teams sorted alphabetically:")
print(nfl)

print()
print("Statistical description:")
print(nfl.describe())

print()
print("The mean number of wins is:", nfl.describe()[1])

nfl = nfl[nfl > 3]

nfl = nfl * 45

nfl = nfl * 31000

nfl = nfl.apply(toDollars)
nfl

Teams sorted alphabetically:
Baltimore Ravens                2
Baltimore/Indianapolis Colts    2
Dallas Cowboys                  5
Denver Broncos                  3
Green Bay Packers               4
Miami Dolphins                  2
New England Patriots            6
New York Giants                 4
Oakland/Los Angeles Raiders     3
Pittsburgh Steelers             6
San Francisco 49ers             5
Washington Redskins             3
dtype: int64

Statistical description:
count    12.000000
mean      3.750000
std       1.484771
min       2.000000
25%       2.750000
50%       3.500000
75%       5.000000
max       6.000000
dtype: float64

The mean number of wins is: 3.75

Dallas Cowboys          $ 6975000
Green Bay Packers       $ 5580000
New England Patriots    $ 8370000
New York Giants         $ 5580000
Pittsburgh Steelers     $ 8370000
San Francisco 49ers     $ 6975000
dtype: object